:host {
  flex-flow: column nowrap;
  align-items: stretch;
}

.choices {
  display: flex;
  flex-wrap: wrap;
  gap: var(--nui-space-4);
  font-size: var(--nui-font-size-sm);
}

.choices label {
  display: inline-flex;
  align-items: center;
  gap: var(--nui-space-2);
  min-block-size: 1.5rem;
}
